<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="beanPostProcessor" class="javaee.BeanPostProcessorImpl"/>

    <bean id="source" class="javaee.Source">
        <property name="fruit" value="橙汁"/>
        <property name="size" value="大杯"/>
        <property name="sugar" value="少糖"/>
    </bean>

    <bean id="juiceMaker" class="javaee.JuiceMaker" init-method="init" destroy-method="myDestroy">
        <property name="beverageShop" value="xzwb"/>
        <property name="source" ref="source"/>
    </bean>
</beans>